[Unit]
Description=redirectd

[Service]
Restart=on-failure
EnvironmentFile=-/etc/default/redirectd
ExecStart=/usr/bin/redirectd

[Install]
WantedBy=multi-user.target

